<!--<html>-->
<!--    <head>-->
<!--        <title>food-ai.com</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <div class="container">-->
<!--            <p>Welcome to html!</p>-->
<!--        </div>-->
<!--    </body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/style.css') }}">
    <title>FlaskBlog</title>
</head>
<body>
   <h1>Welcome to the new FlaskBlog</h1>
</body>
</html>